{% extends 'base.html' %}

{% block title %}
    <title>Device details</title>
{% endblock %}

{% block content %}

    <section id="main" class="container 50%" style="min-height: 30em;">

        <header>
            <h2>Device details</h2>
            <hr />
        </header>

        <form method="post">

            <a href="{% url 'device_list' %}" style="position: fixed; color: #666;  left: 1em; top: 4em;"><i class="icon fa-angle-left fa-2x"></i></a>

            {% csrf_token %}

            <div style="text-align: center; display: inline-block;">
                <div style="float: left; white-space: nowrap; text-align: left; margin-right: 10px;">
                    <b> UUID: </b> <br/>
                    <b> IP address: </b>
                </div>
                <div style="float: left; text-align: left;">
                    {{ device.uuid }} <br/>
                    {{ device.ip_address }}
                </div>
            </div><br><br>

            <center>
                <div style="width: 65%;">
                    <input type="text" value="{{ device.name }}" title="name" id="name" name="name" autofocus required oninvalid="this.setCustomValidity('This field should not be left blank')"
                       oninput="setCustomValidity('')"><br>
                </div>
            </center>

            {% if errors %}
                <div>
                     {% for field, errors in errors.items %}
                         {% for error in errors %}
                             <b style="color:red"> {{ error.message }} </b>
                             </br>
                         {% endfor %}
                     {% endfor %}
                </div>
                <br>
            {% endif %}

            <a href="{% url 'version_list' device_uuid=device.uuid %}">Version list</a><br><br>

            <div class="row uniform">
                <div class="12u">
                    <ul class="actions align-center">
                        <li><button type="submit" class="button icon fa-save" style="font-size: 0.95em;">Save changes</button></li>
                    </ul>
                </div>
            </div><br/>

            <div style="text-align: center; display: inline-block;">
                <div style="float: left; text-align: left; margin-right: 5em;">
                    <b> Creation date: </b> <br/>
                    <b> Modification date: </b>
                </div>
                <div style="float: left; text-align: left;">
                    {{ device.timestamp | date:'Y-m-d H:i:s' }} <br/>
                    {{ device.last_edited | date:'Y-m-d H:i:s' }}
                </div>
            </div>

        </form>

        <form method="post" action="{% url 'device_delete' device_uuid=device.uuid %}">
            {% csrf_token %}
            <button type="submit" class="button icon fa-trash" style="font-size: 0.95em; background-color: #ff4747;">Delete device</button>
        </form>

    </section>

{% endblock %}