{% extends 'base.html' %}

{% block title %}
    <title>Your devices</title>
{% endblock %}

{% block content %}

    <section id="main" class="container 50%" style="min-height: 30em;">

        <header>
            <h2>Your devices</h2>
            <hr />
        </header>

        <a href="{% url 'index' %}" style="color: #666; position: fixed; left: 1em; top: 4em; border:0;"><i class="icon fa-angle-left fa-2x"></i></a>

        {% if devices %}

            {% for device in devices %}
                <a href="{% url 'device_details' device_uuid=device.uuid %}">{{ device.name }}</a><br>
                {{ device.uuid }}<br><br>
            {% endfor %}

        {% else %}

            <p>Whoops! You have no devices added yet &nbsp;<i class="icon fa-frown-o fa-lg"></i></p>

        {% endif %}

        <div class="row uniform">
            <div class="12u">
                <ul class="actions align-center">
                    <ul class="actions">
                        <li><a href="{% url 'device_create' %}" class="button icon fa-plus" style="font-size: 1em;">Add new device</a></li>
                    </ul>
                </ul>
            </div>
        </div>

    </section>

{% endblock %}