{% extends 'base.html' %}

{% block title %}
    <title>Device details</title>
{% endblock %}

{% block content %}

    <section id="main" class="container 50%" style="min-height: 30em;">

        <header>
            <h2>Device details</h2>
            <hr />
        </header>

        <form method="post">

            <a href="{% url 'device_list' %}" style="position: fixed; color: #666;  left: 1em; top: 4em; border:0;"><i class="icon fa-angle-left fa-2x"></i></a>

            {% csrf_token %}

            {{ device.uuid }}
            <br/><br/>

            <center>
                <div style="width: 55%;">
                    <input type="text" value="{{ device.name }}" title="name" id="name" name="name" autofocus required oninvalid="this.setCustomValidity('This field should not be left blank')"
                       oninput="setCustomValidity('')"><br>
                </div>
            </center>

            <center>
                <div class="6u 12u(narrower)" style="margin-bottom: 1em;">
                    <input type="checkbox" {% if device.is_standalone %} checked{% endif %} title="is_standalone" id="is_standalone" name="is_standalone">
                    <label for="is_standalone">Standalone</label>
                </div>
            </center>

            <div class="row uniform">
                <div class="12u">
                    <ul class="actions align-center">
                        <li><button type="submit" class="button icon fa-save" style="font-size: 0.95em;">Save changes</button></li>
                    </ul>
                </div>
            </div><br/>

            <div style="text-align: center; display: inline-block;">
                <div style="float: left; white-space: nowrap; text-align: left; margin-right: 10px;">
                    <b> Creation date: </b> <br/>
                    <b> Modification date: </b>
                </div>
                <div style="float: left; text-align: left;">
                    {{ device.timestamp | date:'Y-m-d H:i:s' }} <br/>
                    {{ device.last_edited | date:'Y-m-d H:i:s' }}
                    {# {{ device.last_updated | date:'Y-m-d H:i:s' }}<br> #}
                </div>
            </div>

        </form>

    </section>

{% endblock %}