{% extends 'base.html' %}

{% block title %}
    <title>Create new version</title>
{% endblock %}

{% block content %}

    <section id="main" class="container 50%">

        <header>
            <h2>Create new version</h2>
            <hr />
        </header>

        <a href="{% url 'group_version_list' group_uuid=group_uuid %}" class="arrow_back"><i class="icon fa-angle-left fa-2x"></i></a>

        <form method="post" action="{% url 'group_version_create' group_uuid=group_uuid %}" enctype="multipart/form-data">

            {% csrf_token %}

            <center>
                <div class="input-width">

                    <input type="text" id="name" name="name" title="name" placeholder="File tag-name" required autofocus
                           oninvalid="this.setCustomValidity('This field should not be left blank')"
                           oninput="setCustomValidity('')">
                    <br>

                    <input type="file" name="file" id="file" title="file" required
                               oninvalid="this.setCustomValidity('You must choose a file')"
                               oninput="setCustomValidity('')">

                </div>
            </center><br>

            <div class="row uniform">
                <div class="12u">
                    <ul class="actions align-center">
                        <li><input class="button" type="submit" value="Create" /></li>
                    </ul>
                </div>
            </div>

            {%  if errors %}
                <br>
            {%  endif %}

            <div>
                 {% for field, errors in errors.items %}
                     {% for error in errors %}
                         <b class="error"> {{ error.message }} </b>
                         <br>
                     {% endfor %}
                 {% endfor %}
            </div>

        </form>

    </section>

{% endblock %}