{% extends 'base.html' %}

{% block title %}
    <title>Add new group</title>
{% endblock %}

{% block content %}

    <section id="main" class="container 50%">

        <header>
            <h2>Add new group</h2>
            <hr />
        </header>

        <a href="{% url 'group_list' %}" class="arrow_back"><i class="icon fa-angle-left fa-2x"></i></a>

        <form method="post" action="{% url 'group_create' %}" >
            {% csrf_token %}
            <center>
                <div class="input-width">
                    <input type="text" id="name" name="name" title="name" placeholder="Group name" required autofocus
                           oninvalid="this.setCustomValidity('This field should not be left blank')"
                           oninput="setCustomValidity('')" ><br>


                </div>
            </center><br>

            <div class="row uniform">
                <div class="12u">
                    <ul class="actions align-center">
                        <ul class="actions">
                            <li><button type="submit" class="button font icon fa-plus">Add</button></li>
                        </ul>
                    </ul>
                </div>
            </div>

            {%  if errors %}
                <div>
                     {% for field, errors in errors.items %}
                         {% for error in errors %}
                             <b class="error"> {{ error.message }} </b>
                             <br>
                         {% endfor %}
                     {% endfor %}
                </div>
            {%  endif %}

        </form>

    </section>

{% endblock %}