{% extends 'base.html' %}

{% block title %}
    <title>Devices added to group</title>
{% endblock %}

{% block content %}

    <section id="main" class="container 50%">

        <header>
            <h2>Devices added to group</h2>
            <hr />
        </header>

        <a href="{% url 'index' %}" class="arrow_back"><i class="icon fa-angle-left fa-2x"></i></a>

        {% if devices %}

            {% for device in devices %}
                <a href="{% url 'device_details' device_uuid=device.uuid %}">{{ device.name }}</a><br>
                {{ device.uuid }}<br><br>
            {% endfor %}

        {% else %}

            <p>Whoops! You have no devices added to this group yet &nbsp;<i class="icon fa-frown-o fa-lg"></i></p>

        {% endif %}

        <form method="post" >
            <div class="">
                <a href="{% url 'group_available' group_uuid=group.uuid %}" class="button icon fa-plus">Add to group </a>
            {% csrf_token %}
            </div>
        </form>


    </section>

{% endblock %}