<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">

        {% block title %}{% endblock %}
        {% load static %}

        <link rel="shortcut icon" type="image/png" href="{% static 'favicon.ico' %}" />
        <link type="text/css" rel="stylesheet" href="{% static 'assets/css/main.css' %}">

        <!-- Scripts -->
        <script src="{% static 'assets/js/jquery.min.js' %}"></script>
        <script src="{% static 'assets/js/jquery.dropotron.min.js' %}"></script>
        <script src="{% static 'assets/js/jquery.scrollgress.min.js' %}"></script>
        <script src="{% static 'assets/js/skel.min.js' %}"></script>
        <script src="{% static 'assets/js/util.js' %}"></script>
        <script src="{% static 'assets/js/main.js' %}"></script>
        <script src="{% static 'assets/js/goback.js' %}"></script>

    </head>

    <body>

        <div id="page-wrapper">
            <!-- Header -->
            <header id="header">
                <h1><a href="{% url 'index' %}">BlackFort &nbsp;  <i class="icon fa-fort-awesome fa-lg"></i></a> </h1>
                <nav id="nav">
                    <ul>
                        {% if user.is_authenticated %}
                            <li>Hi! {{ user.username }}</li>
                            <li><a href="{% url 'device_list' %}">Your devices</a></li>
                            <li><a href="{% url 'logout' %}" class="button">Log out</a></li>

                        {% else %}
                            {% block button %}
                            {% endblock %}

                        {% endif %}
                    </ul>
                </nav>
            </header>

            <!-- Main -->

            <div class="content">

                {% block content %}
                {% endblock %}

            </div>

            {% include "footer.html" %}
        </div>

    </body>
</html>