{% extends 'base.html' %}

{% block button %}
    <li><a href="{% url 'register' %}" class="button navig">Sign up</a></li>
{% endblock %}

{% block title %}
    <title>Login</title>
{% endblock %}

{% block content %}

    <section id="main" class="container 50%">

        <header>
            <h2>Login</h2>
            <hr />
        </header>

        <div class="box">
            <form method="post" action="{% url 'login' %}">
            {% csrf_token %}
                <div class="row uniform 50%">
                    <div class="12u">
                        <input type="text" name="username" id="username" placeholder="Username" required autofocus
                               title="Enter your username" oninvalid="this.setCustomValidity('This field should not be left blank')"
                               oninput="setCustomValidity('')">
                    </div>
                </div>
                <div class="row uniform 50%">
                    <div class="12u">
                        <input type="password" name="password" id="password" placeholder="Password" required
                               title="Enter your password" oninvalid="this.setCustomValidity('This field should not be left blank')"
                               oninput="setCustomValidity('')">
                    </div>
                </div>
                <div class="row uniform">
                    <div class="12u">
                        <ul class="actions align-center">
                            <li><input class="button" type="submit" value="Log in" /></li>
                        </ul>
                    </div>
                </div>
                <div class="content">
                    Not signed up yet? <a href="{% url 'register' %}">Register</a>
                </div>

                {%  if errors %}
                    <br>
                    <div>
                         {% for field, errors in errors.items %}
                             {% for error in errors %}
                                 <b class="error"> {{ error.message }} </b>
                                 <br>
                             {% endfor %}
                         {% endfor %}
                    </div>
                {%  endif %}

            </form>
        </div>

    </section>

{% endblock %}

